<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>ShopShow</title>
</head>

<body>
    <!--==========HEADER============-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">SHOPSHOW</a>
            </div>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Featured</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">New</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Suscribed</a></li>
                </ul>
            </div>
            <div>
                <i class="bx bx-cart nav__cart"></i>
                <i class="bx bx-menu nav__toggle" id="nav-toggle"></i>
            </div>
        </nav>
    </header>
    <!--Insert Page Data Here -->
    <%- body %>
    <!--End of Insert Page Data Here -->
    <section class="newsletter section" id="suscribed">
        <div class="newsletter__container bd-grid">
            <div class="newsletter__suscribe">
                <h2 class="section-title">OUR NEWSLETTER</h2>
                <p class="newsletter__description">Promotion new products and sales</p>
                <form action="" class="newsletter__form">
                    <input type="text" class="newsletter_input" placeholder="Enter Email">
                    <a href="#" class="button">SUBSCRIBE</a>
                </form>
            </div>
        </div>
    </section>
    <section class="sponsors section">
        <div class="sponsors__container bd-grid">
            <div class="sponsors__logo">
                <img src="/img/logo1.png" alt="">
            </div>
            <div class="sponsors__logo">
                <img src="/img/logo2.png" alt="">
            </div>
            <div class="sponsors__logo">
                <img src="/img/logo3.png" alt="">
            </div>
            <div class="sponsors__logo">
                <img src="/img/logo4.png" alt="">
            </div>
        </div>
    </section>
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <div class="footer__box">
                <h3 class="footer__title">SHOPSHOW</h3>
                <p class="footer__deal">Products Store</p>
                <a href="#"><img src="/img/footerstore1.png" alt="" class="footer__store"></a>
                <a href="#"><img src="/img/footerstore2.png" alt="" class="footer__store"></a>
            </div>
            <div class="footer__box">
                <h3 class="footer__title">EXPLORE</h3>
                <ul>
                    <li><a href="#" class="footer__link">Home</a></li>
                    <li><a href="#" class="footer__link">Featured</a></li>
                    <li><a href="#" class="footer__link">New</a></li>
                    <li><a href="#" class="footer__link">Suscribe</a></li>
                </ul>
            </div>
            <div class="footer__box">
                <h3 class="footer__title">OUR SERVICES</h3>
                <ul>
                    <li><a href="#" class="footer__link">Pricing</a></li>
                    <li><a href="#" class="footer__link">Free Shipping</a></li>
                    <li><a href="#" class="footer__link">Gift Card</a></li>
                </ul>
            </div>
            <div class="footer__box">
                <h3 class="footer__title">FOLLOW</h3>
                <a href="#" class="footer__social"><i class="bx bxl-facebook-square"></i></a>
                <a href="#" class="footer__social"><i class="bx bxl-instagram-alt"></i></a>
                <a href="#" class="footer__social"><i class="bx bxl-twitter"></i></a>
            </div>
        </div>
        <p class="footer__copy">&#169; 2020 copyright all rights are reserved</p>
    </footer>
    </main>
    <script src="/js/app.js"></script>
</body>

</html>