<!-- <main class="l-main">
    <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__data">
                <h1 class="home__title">Empty<br><span>Cart :(</span></h1>
                <a href="#featured" class="button">GO SHOPPING</a>
            </div>
            <img src="/img/empty.png" alt="" class="home__img">
        </div>
    </section>
</main> -->

<main class="l-main">
    <section class="home" id="home">
        <div class="home__container">
            <div class="home__data">
                <h1>hello</h1>
            </div>
        </div>
    </section>
</main>