<main class="l-main">
    <!-- <section class="home" id="home">
        <div class="home__container bd-grid">
            <div class="home__data">
                <h1 class="home__title">Empty<br><span>Cart :(</span></h1>
                <a href="/" class="button">GO SHOPPING</a>
            </div>
            <img src="/img/empty.png" alt="" class="home__img">
        </div>
    </section> -->
    <section class="home" id="home">
        <div class="home__container cart__container">
            <div class="cart__data">
                <i class="bx bx-cart nav__cart"></i>
                <div class="cart__heading">
                    <h2> Cart Details</h2>
                </div>
            </div>
            <hr>
            <div class="cart__items_border">
                <div class="cart__items">
                    <div class="item__image">
                        <img src="/img/new2.png" alt="">
                    </div>
                    <div class="item__quantity">
                        <p>2<span> Items</span></p>
                    </div>
                    <div class="item__cost">
                        <p><span>Rs </span>200</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="cart__items_border">
                <div class="cart__items">
                    <div class="item__image">
                        <img src="/img/new2.png" alt="">
                    </div>
                    <div class="item__quantity">
                        <p>2<span> Items</span></p>
                    </div>
                    <div class="item__cost">
                        <p><span>Rs </span>200</p>
                    </div>
                </div>
                <hr>
            </div>

            <center> <a href="/" class="button cart__button">CHECKOUT</a></center>
        </div>

    </section>
</main>